.contact-container{
    height: 59vh;
    display: flex;
    flex-direction: rows;
    margin: 0 5%;
}
.contact-card1{
    align-self: center;
    flex: 1 40%;
}
.contact-img{
    height: 350px;
}
.contact-card2{
    flex: 2 60%;
    align-self: center;

}