.contact-container {
  height: 59vh;
  display: flex;
  flex-direction: rows;
  padding: 0 10%;
  background-color: #dfe0e2;
}
.contact-card1 {
  align-self: center;
  flex: 1 50%;
  text-align: end;
}
.contact-img {
  height: 350px;
}
.contact-card2 {
  flex: 2 50%;
  align-self: center;
  padding-left: 5%;
}
.fa{
  background-color: #dfe0e2;

}
