.footer-container {
  background-color: #3c6d7c;
  color: white;
  padding: 1% 5% 0.5% 5%;
}
.para1,
.para2,
.para3 {
  background-color: #3c6d7c;
  margin: 0;
  color: white;
  text-decoration: none;
}
.para3 {
  text-align: center;
  font-size: 9px;
  padding-top: 1%;
}
.card1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.footer1 {
  background-color: #3c6d7c;
  text-align: end;
  padding-right: 5%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
.footer2 {
  text-align: start;
  background-color: #3c6d7c;
  padding-left: 5%;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
}
svg {
  background-color: white;
  font-family: bold;
}
.scroll-to-top {
  box-shadow: 1px 1px rgb(155, 155, 155) !important;
}
