.forsale-container {
  display: flex;
}
.options{
    flex: 1 20%;
  background-color: #3c6d7c;

}
.forsale-cards {
  padding: 2.5% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5%;
  flex: 2 80%;
  justify-items: center;
  align-items: center;
}
.property-card {
  width: 280px;
  background-color: white;
  padding: 5%;
  box-shadow: 4px 4px rgb(200, 200, 200);
  text-decoration: none;
  color: black;
}
.react-slideshow-wrapper.slide {
  width: 200px;
}

.fs-img-big {
  width: 280px;
  height: 210px;
  background-color: white;
}
.property-title {
  text-transform: uppercase;
  background-color: white;
  font-size: 15px;
}
.property-details {
  background-color: white;
  font-size: 13px;
}
.fa{
    background-color: white;
}
.price{
    position: absolute right;
    text-align: end;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
}
.date{
    background-color: white;
    font-size: 10px;
    position: absolute right;
    text-align: end;
}
