.forsale-container {
  display: flex;
  min-height: 60vh;
}
.options {
  flex: 1 20%;
  background-color: #3c6d7c;
  text-align: center;
}
.forsale-cards {
  padding: 2.5% 5%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5%;
  flex: 2 80%;
  justify-items: center;
}
.property-card {
  width: 280px;
  background-color: white;
  padding: 5%;
  box-shadow: 4px 4px rgb(200, 200, 200);
  text-decoration: none;
  color: black;
  max-height: 300px;
}
.react-slideshow-wrapper.slide {
  width: 200px;
}

.fs-img-big {
  width: 280px;
  height: 210px;
  background-color: white;
}
.property-title {
  text-transform: uppercase;
  background-color: white;
  font-size: 15px;
}
.property-details {
  background-color: white;
  font-size: 13px;
}
.fa {
  background-color: white;
}
.price {
  position: absolute right;
  text-align: end;
  font-size: 20px;
  font-weight: bold;
  background-color: white;
}
.date {
  background-color: white;
  font-size: 10px;
  position: absolute right;
  text-align: end;
}
.all, .date-price, .property-type {
  background-color: #3c6d7c;
  margin: 2.5%;
  padding-bottom: 5%;
}
.all-button {
  background-color: #dfe0e2;
  font-size: 20px;
  font-weight: bold;
  margin: 2.5%;
  padding: 2.5% 5%;
  cursor: pointer;
  border-radius: 5px;
  color: #3c6d7c;
  border: 2px solid #9fc5d1;
}
.sort-button, .type-button{
  background-color: #dfe0e2;
  font-size: 15px;
  font-weight: bold;
  margin: 2.5%;
  padding: 1.75% 2.5%;
  cursor: pointer;
  border-radius: 5px;
  color: #3c6d7c;
  border: 2px solid #9fc5d1;
}
.selected-type{
  background-color: #dfe0e2;
  font-size: 15px;
  font-weight: bold;
  margin: 2.5%;
  padding: 1.75% 2.5%;
  cursor: pointer;
  border-radius: 5px;
  color: #284953;
  border: 3px solid #284953;
}
.sort-title, .type-title, .flex-box{
  background-color: #3c6d7c;
color: #dfe0e2;
padding: 1%;
}
.flex-box{
  display: flex;
  flex-direction: column ;
}
