.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  background-color: #dfe0e2;
}

.header-image {
  height: 180px;
  margin: 1% 0;
}
@media (max-width: 770px) {
  .header-image {
    height: 150px;
  }
}
@media (max-width: 468px) {
  .header-image {
    height: 140px;
  }
}
@media (max-width: 404px) {
  .header-image {
    height: 120px;
  }
}
