.home-container {
  display: flex;
  flex-direction: row;
  padding: 2.5% 5%;
  background-color: #dfe0e2;
}

.home-img {
  height: 350px;
  border: 3px solid #3c6d7c;
  border-radius: 5px;
}

.intro {
  color: #071013;
  text-transform: none;
  padding-right: 5%;
}
.home-title {
  text-transform: uppercase;
  font-size: 22px;
  margin-bottom: 20px;
  color: #3c6d7c;
}
.home-paragraph {
  margin: 0 5%;
  font-size: 17px;
}
.closing-intro {
  text-align: end;
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 20px;
  color: #3c6d7c;
}

.line {
  height: 0.25px;
  background-color: #3c6d7c;
}

.choose-title {
  padding-top: 2.5%;
  padding-bottom: 1%;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  color: #3c6d7c;
  background-color: #dfe0e2;
}

.choose-us {
  padding: 0.5% 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-bottom: 1%;
  background-color: #dfe0e2;
}
.why-us {
  background-color: #9fc5d1;
  padding: 20px;
  margin: 10px;
  color: #071013;
}
.why-title {
  font-size: 14px;
  background-color: #9fc5d1;
  margin: 0;
}

.why-para {
  font-size: 13px;
  background-color: #9fc5d1;
  margin: 0;
  padding-top: 10px;
  color: #071013;
}

.button-div {
  text-align: center;
  background-color: #dfe0e2;
}
.team-button {
  margin-bottom: 2.5%;
  text-transform: uppercase;
  background-color: #3c6d7c;
  padding: 10px 15px;
  color: #dfe0e2;
  font-weight: bold;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.team-button:hover {
  background-color: #9fc5d1;
  color: #3c6d7c;
}
@media (max-width: 770px) {
  .home-container {
    padding: 2.5%;
  }
  .home-img {
    height: 250px;
  }
  .intro{
    padding-right: 1%;
  }
  .home-title, .closing-intro, .choose-title{
    font-size: 17px;
  }
  .home-paragraph{
    font-size: 14px;
  }
  .home-title{
    margin-bottom: 10px;
  }
  .closing-intro{
    margin-top: 10px;
  }
  .img-div{
    align-self: center;
  }
  .choose-us{
    padding: 0.5% 2.5%;
  }
  .why-us{
    margin: 0;
    padding: 15px;
  }
  .why-title{
    font-size: 13px;
  }
  .why-para{
    font-size: 12px;
  }
  .team-button{
    margin-top: 1%;
    font-size: 15px;
  }
}
@media (max-width: 404px) {
  .navbar {
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .navbar {
    font-size: 10px;
  }
}
