.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-items: center;
    justify-content: center;
    padding: 20px 60px;
    
}

.card{
    align-content: center;
    background-color: white;
text-align: center;
    width: 100%;
}

.team-img{
    height: 250px;
    background-color: white;
    padding: 20px 20px 10px 20px;
}

.name, .title{
    background-color: white;
}
.name{
    margin: 0 0 20px 0;
    text-transform: uppercase;
    text-align: start;
    padding-left: 25px;
}
.title{
    font-size: 10px;
    color: #75ABBC;
}