.pc-container {
  min-height: 61vh;
  background-color: #dfe0e2;
}
.enquire {
  padding: 0.5%;
  right: 3;
  text-align: end;
  padding-right: 10%;
}
.enquire-button {
  background-color: #3c6d7c;
  padding: 0.5% 1%;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: bold;
}
.nav-button{
  background-color: #3c6d7c;
  color: white;
  cursor: pointer;
  font-family: bold;
  padding: 0.5% 1%;

}
.pc-card {
  margin: 0.5% 10%;
  padding: 0.5% 0.5%;
  background-color: white;
  display: flex;
  margin-bottom: 2%;
  height: 100%;
  box-shadow: 4px 4px rgb(200, 200, 200);
}
.pc-image {
  height: 300px;
  width: 450px;
  max-width: 95%;
  margin: 0 1%;
  border: 1px solid #3c6d7c;
}
.pc-photos,
.pc-info,
.pc-image,
.pc-heading,
.pc-details,
.bath-bed,
.pc-type {
  background-color: white;
}
.pc-heading{
    font-size: 27px;
    padding: 2.5% 0;
}
.pc-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 0 0 2.5% 0;
}
.pc-type{
    text-align: end;
    margin-right: 2.5%;
}
.pc-photos {
  flex: 1 50%;
  padding: 2%;
}
.pc-info {
  flex: 2 50%;
  padding: 2%;
}
.fa{
  background-color: white;
}


@media (max-width: 1205px) {
  .pc-photos {
    flex: 1 65%;
    padding: 1%;
  }
  .pc-info {
    flex: 2 35%;
    padding: 1%;
  }
}
@media (max-width: 1112px) {
  .pc-image{
    width: 380px;
    height: 260px;
  }
}
@media (max-width: 875px) {
  .pc-container {
    min-height: 75vh;
}
  .pc-card {
    flex-direction: column;
  }
  .pc-photos{
    text-align: center;
  }
  .pc-image {
    width: 360px;
    height: 240px;
}
.pc-heading{
  font-size: 20px;
  padding: 1% 0;
}
.pc-info{
  font-size: 13px;
}
}
@media (max-width: 530px) {
  .pc-card{
    margin: 0.5% 5%;
  }
  .enquire{
    padding-right: 5%;
  }
  .pc-image {
    width: 330px;
    height: 210px;
}
}
@media (max-width: 437px) {
  .pc-card{
    margin: 0.5% 2.5%;
    padding: 2.5%;
  }
  .enquire{
    padding-right: 2.5%;
  }
  .pc-image {
    width: 300px;
    height: 180px;
}
}
@media (max-width: 379px) {
  .pc-image {
    width: 280px;
    height: 160px;
}
}