.pc-container {
  min-height: 49vh;
}
.enquire {
  padding: 0.5%;
  right: 3;
  text-align: end;
  padding-right: 10%;
}
.enquire-button {
  background-color: #3c6d7c;
  padding: 0.5% 1%;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-family: bold;
}
.pc-card {
  margin: 0.5% 10%;
  padding: 0.5% 0.5%;
  background-color: white;
  display: flex;
  margin-bottom: 2.5%;
  height: 320px;
}
.pc-image {
  height: 100%;
  /* padding: 5%; */
}
.pc-photos,
.pc-info,
.pc-image,
.pc-heading,
.pc-details,
.bath-bed,
.pc-type {
  background-color: white;
}
.pc-heading{
    font-size: 27px;
    padding: 2.5% 0;
}
.pc-details{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: 0 0 2.5% 0;

}
.pc-type{
    text-align: end;
    margin-right: 2.5%;
}
.pc-photos {
  flex: 1 50%;
  max-width: 100%;
  /* padding: 2.5% 0; */
}
.pc-info {
  flex: 2 50%;
}
